<div class="background"></div>
<div class="toolbar">
  <ul>
    <li><a class="menu-item2" routerLink="/home">Home Page</a></li>
  </ul>
</div>
<br><br><br><br><br><br><br><br>
<div>
  <ul style="position: absolute">
    <li *ngFor="let game of this.globals.global_juegos">
      <h2 style="text-align:center">{{game.nombre}}</h2>
      <div class="card">
        <img [src]=game.linkImagen alt="Img1" style="width:100%; height: 100%;"/>
        <h1>Description</h1>
        <p class="description">{{game.descripcion}}</p>
        <p><button (click)="devolver(game.id_juego)">Devolver</button></p>
      </div>
    </li>
  </ul>

</div>
