<div class="background"></div>
<div class="toolbar">

  <head>
    <link rel="stylesheet" href="https://blznav.akamaized.net/img/games/cards/card-overwatch-7eff92e1257149aa.jpg">
  </head>
  <body>

  <h2 style="text-align:center">Overwatch</h2>

  <div class="card">
    <img src="https://blznav.akamaized.net/img/games/cards/card-overwatch-7eff92e1257149aa.jpg" alt="Img1" style="width:100%">
    <h1>Description</h1>
    <p class="title">In a time of global crisis, an international task force of heroes banded
      together to restore peace to a war-torn world: OVERWATCH. It ended the crisis and helped
      to maintain peace in the decades that followed, inspiring an era of exploration, innovation,
      and discovery. But after many years, Overwatch's influence waned, and it was eventually disbanded.</p>

    <!--<div style="margin: 24px 0;">-->
      <!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
      <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
      <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
      <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
    <!--</div>-->
    <p><button>Comprar</button></p>
  </div>

  </body>

