<div class="background"></div>
<div class="toolbar">
  <ul class="toolbar2">
    <li><a class="menu-item2" routerLink="/home">Home Page</a></li>
  </ul>

  <head>
    <link rel="stylesheet" href="https://blznav.akamaized.net/img/games/cards/card-overwatch-7eff92e1257149aa.jpg">
  </head>
  <body>
<br><br>
  <h2 style="text-align:center">{{getName()}}</h2>

  <div class="card">
    <img src={{getLink()}} alt="Img1" style="width:100%">
    <h1>Description</h1>
    <p class="description">{{getDescripcion()}}</p>

    <!--<div style="margin: 24px 0;">-->
      <!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
      <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
      <!--<a href="#"><i class="fa fa-linkedin"></i></a>-->
      <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
    <!--</div>-->
    <p><button>Buy</button></p>
    <li >
      {{show()}}
    </li>
  </div>

  </body>

