.background{
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:url(https://images5.alphacoders.com/686/686328.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(4px);
  transform: scale(1.055);
}
