<div class="background"></div>
<div class="toolbar">
  <ul>
    <li><a class="menu-item" routerLink="/home">Home Page</a></li>
    <li><a class="menu-item" routerLink="/signin">Sign in</a></li>
  </ul>
</div>
<div *ngIf="!flag" class="container">
  <div class="login">
    <h1>Enter a game</h1>
    <input type="text" [(ngModel)]="str" name="u" placeholder="Looking for..." required="required"/>
    <input type="button" value="Search" class="btn btn-primary btn-block btn-large" (click)="get($event)"/>
  </div>
</div>
<div *ngIf="flag" class="container">
  <div class="login" style="top: 20%;">
    <h1>Enter a game</h1>
    <input type="text" [(ngModel)]="str" name="u" placeholder="Looking for..." required="required"/>
    <input type="button" value="Search" class="btn btn-primary btn-block btn-large" (click)="get($event)"/>
  </div>

  <ul id="game-list">
    <li *ngFor="let game of list">
      <img routerLink="/vistaJuegos" (click)="saveID_juego(game.id_juego)" [src]=game.linkImagen style="width: 200px; height: 200px; position: absolute"/>
      <h3 routerLink="/vistaJuegos" (click)="saveID_juego(game.id_juego)" style="position: absolute; margin-left: 250px; ">{{game.nombre}}</h3>
      <h2 style="position: absolute; margin-left: 500px">{{game.costo}}$</h2>
      <p style="position: absolute; margin-left: 255px; margin-top: 50px;">{{game.descripcion}}</p>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <!--<a class="button" href="/listaJuegos" routerLink="/listaJuegos" (click)="saveID_juego(game.id_juego)"  >{{game.nombre}}: </a> {{game.id_juego}} {{game.descripcion}}    ${{game.costo}}-->
    </li>
  </ul>
</div>
