.background{
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:url(https://wallpapersite.com/images/wallpapers/widowmaker-5040x2160-overwatch-4k-6227.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(4px);
  transform: scale(1.055);
}
