
<div class="background"></div>
<div class="toolbar">
  <ul>
    <li><a class="menu-item" routerLink="/home">Home Page</a></li>
    <li *ngIf="!isLogged()"><a class="menu-item" routerLink="/signin">Sign in</a></li>
    <li *ngIf="!isLogged()"><a class="menu-item" routerLink="/signup">Sign up</a></li>
    <li *ngIf="isLogged()"><a class="menu-item" routerLink="/home" (click)="this.globals.signOutReset()">Sign out</a></li>
  </ul>
</div>
<div class="container">
  <h2 class="title">Home Page</h2>
  <a routerLink="/distribuidor" class="button">Ir a Distribuidores</a>
  <div *ngIf="isLogged()">
    <ul>
      <li><a routerLink="/userpage">Profile</a></li>
      <li><a>Wish list</a></li>
      <li><a>Cart</a></li>
    </ul>
  </div>
</div>
